#Ignore everything
/*
configs/*
modules/*
lib/*
lib/common/*
lib/engines/*
lib/middleware/*
#Except the following

#Git
!.gitignore

#Server
!install.bat
!package.json
!server.js
!transcoder.bat

!lib/
!lib/director.js
!lib/engine.js
!lib/input_validator.js
!lib/log.js
!lib/mysql.js
!lib/signed_urls.js
!lib/common/
!lib/common/errors.js
!lib/engines/
!lib/engines/cas.js
!lib/engines/mpd.js
!lib/middleware/
!lib/middleware/csrf.js
!lib/middleware/helmet.js
!lib/middleware/router.js


#Client