#Ignore everything
/*
configs/*
modules/*
lib/*

#Except the following

#Git
!.gitignore

#Server
!install.bat
!package.json
!server.js

!configs/
!configs/server.json

!modules/
!modules/log.js

!lib/
!lib/security_director.js
!lib/resource_director.js
!lib/modules_sec/
!lib/modules_sec/helmet.js
!lib/modules_sec/csrf.js

#Client